<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <nav class="menu" >     
            <mat-nav-list role="list" fxLayoutAlign="center center" fxLayout="column">     
                <mat-list-item routerLink="/signup" (click)="drawer.close()">
                    <mat-icon>input</mat-icon>  
                    <span class="content-mat-icon">Signup</span>
                </mat-list-item>       
                <mat-list-item routerLink="/login" (click)="drawer.close()">
                    <mat-icon>face</mat-icon>  
                    <span class="content-mat-icon">Login</span>
                </mat-list-item>             
                <mat-list-item routerLink="/training" (click)="drawer.close()">
                    <mat-icon>  fitness_center </mat-icon>  
                    <span class="content-mat-icon">Training</span>
                </mat-list-item>
                <mat-list-item routerLink="/" (click)="drawer.close()">
                    <mat-icon>logout</mat-icon>  
                    <span class="content-mat-icon">logout</span>
                </mat-list-item>
            </mat-nav-list>        
        </nav>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                  <mat-icon>menu</mat-icon>
                </button>
            </div>

            <span class="logo" routerLink="/">Logo</span>

            <nav fxFlex fxLayoutAlign="flex-end" fxLayout fxHide.xs>
                <button mat-button routerLink="/signup">SignUp</button>
                <button mat-button routerLink="/login">Login</button>
                <button mat-button routerLink="/training">Training</button>
                <button mat-button routerLink="/">Logout</button>
            </nav>                  
        </mat-toolbar>

          <main>
              <router-outlet></router-outlet>
          </main>
    </div>  
</mat-drawer-container>

