<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="submit(form)" #form="ngForm">
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Ex. pat@example.com" ngModel name="email" required email #emailInput="ngModel">    
            <mat-hint align="end">required</mat-hint> 
            <mat-error *ngIf="emailInput.hasError('email') && !emailInput.hasError('required')">
                Please enter a valid email
            </mat-error>       
            <mat-error *ngIf="emailInput.hasError('required')">
                Email is required
            </mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Should be at least 6 characters long." class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" #pwInput="ngModel" ngModel name="password" required minlength="6">  
            <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>       
            <mat-error *ngIf="pwInput.value?.length < 6">Has to be at least 6 characters</mat-error>    
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput placeholder="Birth day" [max]="maxDate" [matDatepicker]="picker" ngModel name="birthDate" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>   
          </mat-form-field>

          <mat-checkbox ngModel name="agree" required color="primary" labelPosition="before">Agree with terms and confitions.</mat-checkbox>

        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid"  >Submit</button>
    </form>
</section>
