<nav class="menu" >     
    <mat-nav-list role="list" fxLayoutAlign="center center" fxLayout="column">     
        <mat-list-item routerLink="/signup" (click)="closeSidenav()">
            <mat-icon>input</mat-icon>  
            <span class="content-mat-icon">Signup</span>
        </mat-list-item>       
        <mat-list-item routerLink="/login" (click)="closeSidenav()">
            <mat-icon>face</mat-icon>  
            <span class="content-mat-icon">Login</span>
        </mat-list-item>             
        <mat-list-item routerLink="/training" (click)="closeSidenav()">
            <mat-icon>  fitness_center </mat-icon>  
            <span class="content-mat-icon">Training</span>
        </mat-list-item>
        <mat-list-item routerLink="/" (click)="closeSidenav()">
            <mat-icon>logout</mat-icon>  
            <span class="content-mat-icon">logout</span>
        </mat-list-item>
    </mat-nav-list>        
</nav>
